.appbar__cont {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 4rem;
    background: #6666662e;
    width: 100%;
    
}
.appbar__cont .auth__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}

.appbar__cont .auth__block-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.appbar__cont .auth__name {
    margin-right: 1rem;
    width: fit-content;
    cursor: default;
}

.appbar__cont .auth__name .name {
    color: #1b91ff;
}


